<!doctype html>
<html class="no-js" lang="en">
    <head>
        <!-- title -->
        <title>Venetian Banquel Hall</title>
        <!-- description -->
        <meta name="description" content="A great collection of creative, responsive, elegant onepage templates for different industries.">
        <!-- keywords -->
        <meta name="keywords" content="creative, css3, html5, onepage, multipurpose, bootstrap, responsive, agency, architecture, resume, blog, photography, restaurant, portfolio, spa, travel, wedding, coming soon">
        <meta charset="utf-8">
        <meta name="author" content="ThemeZaa">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1" />
        <!-- favicon -->
        <link rel="shortcut icon" href="images/favicon.png">
        <link rel="apple-touch-icon" href="images/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
        <!-- animation -->
        <link rel="stylesheet" href="css/animate.css" />
        <!-- bootstrap -->
        <link rel="stylesheet" href="css/bootstrap.min.css" />
        <!-- et line icon -->
        <link rel="stylesheet" href="css/et-line-icons.css" />
        <!-- font-awesome icon -->
        <link rel="stylesheet" href="css/font-awesome.min.css" />
        <!-- owl carousel -->
        <link rel="stylesheet" href="css/owl.transitions.css" />
        <link rel="stylesheet" href="css/owl.carousel.css" />
        <!-- magnific popup -->
        <link rel="stylesheet" href="css/magnific-popup.css" />
        <!-- style -->
        <link rel="stylesheet" href="css/style.css" />
        <!-- responsive css -->
        <link rel="stylesheet" href="css/responsive.css" />
        <!--[if IE]>
            <script src="js/html5shiv.js"></script>
        <![endif]-->

    </head>
    <body>
        <!-- navigation -->
        <nav class="navbar no-margin-bottom alt-font without-button">
          <% flash.each do |key, value| %>
            <div class="alert alert-<%= key %>" id="alert-override">
              <%= value %>
            </div>
          <% end %>
            <div class="container navigation-menu">
                <div class="row">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="col-lg-2 col-md-2 navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand inner-link" href="#home"><img src="images/venetian-logo2.png" alt=""/></a>
                    </div>
                    <div class="col-lg-10 col-md-9 col-sm-9 collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="#home" class="inner-link">Home</a></li>
                            <li><a href="#service" class="inner-link">Services</a></li>
                            <li><a href="#menu" class="inner-link">Menu</a></li>
                            <li><a href="#gallery" class="inner-link">Gallery</a></li>
                            <li><a href="#location" class="inner-link">Location</a></li>
                            <li><a href="#contact" class="inner-link">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <!-- end navigation -->


        <!-- slider -->
        <section id="home" class="no-padding">
            <div class="owl-slider-full owl-carousel owl-theme light-pagination square-pagination dark-pagination-without-next-prev-arrow main-slider">
                <!-- slider item -->
                <div class="item owl-bg-img" style="background-image: url('../images/photos/IMG_0568.jpg');">
                    <div class="opacity-medium bg-dark-gray"></div>
                    <div class="container full-screen position-relative">
                        <div class="col-md-12 slider-typography text-left">
                            <div class="slider-text-middle-main">
                                <div class="slider-text-middle slider-typography-option3">
                                    <div class="col-md-1 no-padding">
                                        <div class="bg-fast-pink separator-line-medium-thick"></div>
                                    </div>
                                    <div class="col-md-11 no-padding">
                                        <p class="white-text text-uppercase letter-spacing-2 light-gray-text title-font margin-four no-margin-lr no-margin-top"> High quality services</p>
                                        <span class="crema font-weight-800 letter-spacing-3 title-font text-uppercase xs-title-large">Venetian <br> <span class="crimson-red-text font-weight-800 letter-spacing-3 title-font text-uppercase xs-title-large">Banquet</span><br>Hall</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end slider item -->
                <!-- slider item -->
                <div class="item owl-bg-img" style="background-image:url('../images/photos/purplehall.jpg');">
                    <div class="opacity-medium bg-dark-gray"></div>
                    <div class="container full-screen position-relative">
                        <div class="col-md-12 slider-typography text-left">
                            <div class="slider-text-middle-main">
                                <div class="slider-text-middle slider-typography-option3">
                                    <div class="col-md-1 no-padding">
                                        <div class="bg-fast-pink separator-line-medium-thick"></div>
                                    </div>
                                    <div class="col-md-11 no-padding">
                                        <p class="white-text text-uppercase letter-spacing-2 light-gray-text title-font margin-four no-margin-lr no-margin-top">Come experience our baunquet hall!</p>
                                        <span class="crema font-weight-800 letter-spacing-3 title-font text-uppercase xs-title-extra-large">Perfect<br><span class="crimson-red-text font-weight-800 letter-spacing-3 title-font text-uppercase xs-title-large">for any</span><br> event</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end slider item -->
                <!-- slider item -->
                <div class="item owl-bg-img" style="background-image:url('../images/photos/DSC_0022.jpg');">
                    <div class="opacity-medium bg-dark-gray"></div>
                    <div class="container full-screen position-relative">
                        <div class="col-md-12 slider-typography text-left">
                            <div class="slider-text-middle-main">
                                <div class="slider-text-middle slider-typography-option3">
                                    <div class="col-md-1 no-padding">
                                        <div class="bg-fast-pink separator-line-medium-thick"></div>
                                    </div>
                                    <div class="col-md-11 no-padding">
                                        <p class="white-text text-uppercase letter-spacing-2 light-gray-text title-font margin-four no-margin-lr no-margin-top">Conveniently</p>
                                        <span class="crema font-weight-800 letter-spacing-3 title-font text-uppercase xs-title-extra-large">located in the<br><span class="crimson-red-text font-weight-800 letter-spacing-3 title-font text-uppercase xs-title-large">heart of</span> <br>Miami</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end slider item -->
            </div>
        </section>
        <!-- end slider -->
        <!-- service section -->
        <section id="service" class="wow fadeIn">
            <div class="container">
                <!-- section title -->
                <div class="row padding-thirteen no-padding-lr no-padding-top">
                    <div class="col-md-12 col-sm-12 text-center">
                        <span class="text-uppercase title-extra-large alt-font text-decoration-line-through fast-pink-text "><span class="display-block">02</span></span>
                        <span class="text-uppercase title-small alt-font font-weight-600 dark-gray-text letter-spacing-2">Services</span>
                    </div>
                </div>
                <!-- end section title -->
                <div class="row">
                    <div class="col-md-12 col-sm-12 tab-style-2">
                        <div class="tab-content clearfix">
                            <!-- tab item -->
                            <div role="tabpanel" class="tab-pane fade in active" id="banquet">
                                <div class="col-md-12 col-sm-12 treatments-box position-relative">
                                    <div class="col-md-4 col-sm-6 treatments-box-img text-right xs-display-none">
                                        <img src="images/photos/painting3.png" alt="" class="position-right"/>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12 treatments-box-text bg-gray ">
                                        <div class="treatments-box-text-sub padding-twenty text-center">
                                            <img src="images/photos/statue.png" alt="" class="position-relative margin-twenty-nine no-margin-top no-margin-lr round-border xs-margin-twenty-five xs-no-margin-top xs-no-margin-lr"/>
                                            <span class="alt-font text-uppercase text-large letter-spacing-1 margin-twelve no-margin-top no-margin-lr display-block dark-gray-text"><span class="title-separator-line bg-fast-pink"></span>Banquet Hall</span>
                                            <p class="width-90 center-col">The Unique and Exclusive Venetian Style Banquet Hall of Miami.This is the Exclusive Reception Hall for all Special Occasions: Wedding, Quinces, Sweet sixteen, Bar/Bat Mitzvah, Bridal Shower, Baptisms, Baby Showers, Anniversaries, Corporate Events ...</p>
                                            <!-- <div class="treatments-box-number alt-font fast-pink-text font-weight-400 position-relative">01</div> -->
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4 treatments-box-img sm-display-none">
                                        <img src="images/photos/mermaid.png" alt="" class="position-left"/>
                                    </div>
                                </div>
                            </div>
                            <!-- end tab item -->
                            <!-- tab item -->
                            <!-- <div role="tabpanel" class="tab-pane fade" id="social-event">
                                <div class="col-md-12 col-sm-12 treatments-box position-relative">
                                    <div class="col-md-4 col-sm-6 treatments-box-img text-right xs-display-none">
                                        <img src="http://placehold.it/850x1053" alt="" class="position-right"/>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12 treatments-box-text bg-gray ">
                                        <div class="treatments-box-text-sub padding-twenty text-center">
                                            <img src="http://placehold.it/500x500" alt="" class="position-relative margin-twenty-nine no-margin-top no-margin-lr round-border xs-margin-twenty-five xs-no-margin-top xs-no-margin-lr"/>
                                            <span class="alt-font text-uppercase text-large letter-spacing-1 margin-twelve no-margin-top no-margin-lr display-block dark-gray-text"><span class="title-separator-line bg-fast-pink"></span>Social Events</span>
                                            <p class="width-90 center-col">Wedding, Quinces, Sweet Sixteens, Baptisms, Baby Showers, Anniversaries, Birthdays, Surprise Parties, Others</p>
                                            <div class="treatments-box-number alt-font fast-pink-text font-weight-600 position-relative">02</div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4 treatments-box-img sm-display-none">
                                        <img src="http://placehold.it/850x1053" alt="" class="position-left"/>
                                    </div>
                                </div>
                            </div> -->
                            <!-- end tab item -->
                            <!-- tab item -->
                            <!-- <div role="tabpanel" class="tab-pane fade" id="corporate-events">
                                <div class="col-md-12 col-sm-12 treatments-box position-relative">
                                    <div class="col-md-4 col-sm-6 treatments-box-img text-right xs-display-none">
                                        <img src="http://placehold.it/850x1053" alt="" class="position-right"/>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12 treatments-box-text bg-gray ">
                                        <div class="treatments-box-text-sub padding-twenty text-center">
                                            <img src="http://placehold.it/500x500" alt="" class="position-relative margin-twenty-nine no-margin-top no-margin-lr round-border xs-margin-twenty-five xs-no-margin-top xs-no-margin-lr"/>
                                            <span class="alt-font text-uppercase text-large letter-spacing-1 margin-twelve no-margin-top no-margin-lr display-block dark-gray-text"><span class="title-separator-line bg-fast-pink"></span>Corporate Events</span>
                                            <p class="width-90 center-col">Award Banquets, Banquets, Cocktail Receptions, Dinner/Dance, Luncheon, Seminars, Meetings and Conferences, Holiday Parties, Others</p>
                                            <div class="treatments-box-number alt-font fast-pink-text font-weight-600 position-relative">03</div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4 treatments-box-img sm-display-none">
                                        <img src="http://placehold.it/850x1053" alt="" class="position-left"/>
                                    </div>
                                </div>
                            </div> -->
                            <!-- end tab item -->
                        </div>
                        <!-- tab list -->
                        <ul class="nav nav-tabs alt-font text-uppercase letter-spacing-1 no-border text-center margin-fifteen no-margin-lr no-margin-bottom xs-margin-thirty-five xs-no-margin-lr xs-no-margin-bottom" role="tablist">
                            <li role="presentation" class="active xs-display-block xs-no-margin" id="service-link"><a href="#banquet" aria-controls="Banquet Hall" role="tab" data-toggle="tab" class="xs-display-block">Banquet Hall</a></li>
                            <!-- <li role="presentation" class="xs-display-block xs-no-margin"><a href="#social-event" aria-controls="Social Events" role="tab" data-toggle="tab" class="xs-display-block">Social Events</a></li>
                            <li role="presentation" class="xs-display-block xs-no-margin"><a href="#corporate-events" aria-controls="massage" role="tab" data-toggle="tab" class="xs-display-block">Corporate Events</a></li> -->
                        </ul>
                        <!-- end tab list -->
                    </div>
                </div>
            </div>
        </section>
        <!-- end service section -->
        <!-- why choose section -->
        <!-- <section class="wow fadeIn fix-background fix-background-webkit" style="background-image:url('http://placehold.it/1920x1050');">
            <div class="opacity-full bg-dark-gray"></div>
            <div class="container position-relative">
                <div class="row">
                    <div class="col-md-12 col-sm-12 ">
                        <div class="slider-typography-option3">
                            <div class="col-md-1 no-padding">
                                <div class="bg-fast-pink separator-line-medium-thick no-margin-lr margin-thirty-five sm-margin-fifteen sm-no-margin-lr sm-no-margin-top"></div>
                            </div>
                            <div class="col-md-11 col-xs-12 no-padding">
                                <div class="clearfix margin-seven no-margin-top no-margin-lr"><span class="title-extra-large white-text font-weight-800 letter-spacing-3 alt-font text-uppercase xs-title-medium">Why Choose<br> Our Spa Salon</span></div> -->
                                <!-- why choose item -->
                                <!-- <div class="col-md-5 col-sm-6 col-xs-12 no-padding margin-five no-margin-lr white-text xs-margin-twenty-seven xs-no-margin-lr xs-no-margin-bottom xs-clear-both">
                                    <div class="col-md-2 col-sm-2 col-xs-3 no-padding-left margin-two no-margin-lr">
                                        <img src="images/spa-img22.png" alt=""/>
                                    </div>
                                    <div class="col-md-9 col-sm-9 col-xs-9 no-padding-right">
                                        <span class="text-medium alt-font text-uppercase margin-five no-margin-top no-margin-lr display-block letter-spacing-1">Organic Treatment</span>
                                        <p class="light-gray-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.</p>
                                    </div>
                                </div> -->
                                <!-- end why choose item -->
                                <!-- why choose item -->
                                <!-- <div class="col-md-5 col-sm-6 col-xs-12 no-padding margin-five no-margin-lr white-text xs-margin-nineteen xs-no-margin-lr xs-no-margin-bottom xs-clear-both">
                                    <div class="col-md-2 col-sm-2 col-xs-3 no-padding-left margin-two no-margin-lr">
                                        <img src="images/spa-img23.png" alt=""/>
                                    </div>
                                    <div class="col-md-9 col-sm-9 col-xs-9 no-padding-right">
                                        <span class="text-medium alt-font text-uppercase margin-five no-margin-top no-margin-lr display-block letter-spacing-1">Customized Products</span>
                                        <p class="light-gray-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.</p>
                                    </div>
                                </div> -->
                                <!-- end why choose item -->
                                <!-- why choose item -->
                                <!-- <div class="col-md-5 col-sm-6 col-xs-12 no-padding white-text xs-margin-nineteen xs-no-margin-lr xs-no-margin-bottom xs-clear-both">
                                    <div class="col-md-2 col-sm-2 col-xs-3 no-padding-left margin-two no-margin-lr">
                                        <img src="images/spa-img24.png" alt=""/>
                                    </div>
                                    <div class="col-md-9 col-sm-9 col-xs-9 no-padding-right">
                                        <span class="text-medium alt-font text-uppercase margin-five no-margin-top no-margin-lr display-block letter-spacing-1">Expert Therapists</span>
                                        <p class="light-gray-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.</p>
                                    </div>
                                </div> -->
                                <!-- end why choose item -->
                                <!-- why choose item -->
                                <!-- <div class="col-md-5 col-sm-6 col-xs-12 no-padding white-text xs-clear-both xs-margin-nineteen xs-no-margin-lr xs-no-margin-bottom">
                                    <div class="col-md-2 col-sm-2 col-xs-3 no-padding-left margin-two no-margin-lr">
                                        <img src="images/spa-img25.png" alt=""/>
                                    </div>
                                    <div class="col-md-9 col-sm-9 col-xs-9 no-padding-right">
                                        <span class="text-medium alt-font text-uppercase margin-five no-margin-top no-margin-lr display-block letter-spacing-1">Friendly Environment</span>
                                        <p class="light-gray-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.</p>
                                    </div>
                                </div> -->
                                <!-- end why choose item -->
                            <!-- </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
        <!-- end why choose section -->
        <!-- counter section -->
        <!-- <section class="wow fadeIn padding-twelve no-padding-lr">
            <div class="container xs-margin-nineteen xs-no-margin-lr">
                <div class="row"> -->
                    <!-- counter item -->
                    <!-- <div class="col-md-3 col-sm-6 counter-style1 text-center border-right sm-margin-eleven sm-no-margin-lr sm-no-margin-top">
                        <span class="timer counter-number alt-font font-weight-500" data-to="780" data-speed="7000"></span>
                        <span class="text-small font-weight-200 letter-spacing-2 text-uppercase margin-one no-margin-lr display-block alt-font">Therapists</span>
                    </div> -->
                    <!-- end counter item -->
                    <!-- counter item -->
                    <!-- <div class="col-md-3 col-sm-6 counter-style1 text-center border-right sm-margin-eleven sm-no-margin-lr sm-no-margin-top sm-no-border">
                        <span class="timer counter-number alt-font font-weight-500" data-to="987" data-speed="7000"></span>
                        <span class="text-small font-weight-200 letter-spacing-2 text-uppercase margin-one no-margin-lr display-block alt-font">Procedures</span>
                    </div> -->
                    <!-- end counter item -->
                    <!-- counter item -->
                    <!-- <div class="col-md-3 col-sm-6 counter-style1 text-center border-right xs-margin-eleven xs-no-margin-lr xs-no-margin-top">
                        <span class="timer counter-number alt-font font-weight-500" data-to="350" data-speed="7000"></span>
                        <span class="text-small font-weight-200 letter-spacing-2 text-uppercase margin-one no-margin-lr display-block alt-font">Treatments</span>
                    </div> -->
                    <!-- end counter item -->
                    <!-- counter item -->
                    <!-- <div class="col-md-3 col-sm-6 counter-style1 text-center">
                        <span class="timer counter-number alt-font font-weight-500" data-to="166" data-speed="7000"></span>
                        <span class="text-small font-weight-200 letter-spacing-2 text-uppercase margin-one no-margin-lr display-block alt-font">Clients</span>
                    </div> -->
                    <!-- end counter item -->
                <!-- </div>
            </div>
        </section> -->
        <!-- end counter section -->
        <!-- menu section -->
          <section id="menu" class="no-padding">
              <div class="container-fluid">
                <div class="row padding-six no-padding-lr no-padding-bottom border-top">
                    <div class="col-md-12 col-sm-12 text-center">
                        <span class="text-uppercase title-extra-large alt-font text-decoration-line-through fast-pink-text "><span class="display-block">03</span></span>
                        <span class="text-uppercase title-small alt-font font-weight-600 dark-gray-text letter-spacing-2">Menu</span>
                    </div>
                    <div class="margin-ten no-margin-lr xs-text-center clearfix">
                        <div class="col-md-12 col-sm-12 text-center">
                            <p class="width-40 center-col sm-width-70 xs-width-90 alt-font big-label">Our menus are complete meals featuring a variety of meats, vegetables and rices that will satisfy any taste.
                            <%= link_to 'See our full menu here.', 'images/menu-venetian.png', id:"menu-venetian" %></p>

                        </div>
                    </div>
                </div>
                  <div class="row no-margin">
                    <div class="col-md-4 col-sm-12 restaurant-menu position-relative overflow-hidden xs-no-padding">
                        <!-- menu image and title -->
                        <div class="restaurant-menu-image cover-background" style=" background-image: url('http://d1doqjmisr497k.cloudfront.net/~/media/Recipe-Photos/McCormick/Salads-Sides/1007x545/Roasted-Garlic-Mashed-Potatoes.ashx?vd=20130326T141915');">
                            <div class="restaurant-menu-item z-index-1">
                                <img src="http://solacajunseasoning.com/wp-content/uploads/2015/06/SoLa-Red-Beans-and-Rice-150x150.jpg" alt=""/>
                                <span class="title-small font-weight-100 letter-spacing-2 alt-font deep-pink-dark-text text-uppercase display-block margin-four no-margin-lr no-margin-bottom">Side Dishes</span>
                                <!-- <span class="text-small letter-spacing-1 text-uppercase">Every Day 13:00 - 15:00</span> -->
                                <div class="margin-four"><img src="images/separator2.png" alt=""/></div>
                            </div>
                            <div class="restaurant-menu-background"><div class="restaurant-menu-border z-index-2"></div></div>
                        </div>
                        <!-- end menu image and title -->
                        <!-- menu hover box -->
                        <div class="restaurant-menu-text">
                            <div class="restaurant-menu-text-inner padding-thirteen sm-padding-nine" style="background-image:url('images/restaurant-img7.jpg');">
                                <!-- menu item -->
                                <div class="menu-item">
                                    <!-- <div class="col-md-3 col-sm-2 col-xs-3 menu-img sm-display-block"><img src="http://placehold.it/180x180" alt="" class="round-border"/></div> -->
                                    <div class="col-md-8 col-sm-8 col-xs-7 col-xs-8 menu-text sm-width-80 xs-width-70">
                                        <div class="menu-text-sub">
                                            <span class="text-uppercase brown-text letter-spacing-1 display-block font-weight-600 md-padding-one md-no-padding-lr md-no-padding-top">Mashed Potatoes</span>
                                            <!-- <p class="display-block">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p> -->
                                        </div>
                                    </div>
                                </div>
                                <!-- end menu item -->
                                <!-- menu item -->
                                <div class="menu-item">
                                    <!-- <div class="col-md-3 col-sm-2 col-xs-3 menu-img sm-display-block"><img src="http://placehold.it/180x180" alt="" class="round-border"/></div> -->
                                    <div class="col-md-8 col-sm-9 col-xs-7 col-xs-8 menu-text sm-width-80 xs-width-70">
                                        <div class="menu-text-sub">
                                            <span class="text-uppercase brown-text letter-spacing-1 display-block font-weight-600 md-padding-one md-no-padding-lr md-no-padding-top">Fried Ripened Plantains</span>
                                            <!-- <p class="display-block">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p> -->
                                        </div>
                                    </div>
                                </div>
                                <!-- end menu item -->
                                <!-- menu item -->
                                <div class="menu-item">
                                    <!-- <div class="col-md-3 col-sm-2 col-xs-3 menu-img sm-display-block"><img src="http://placehold.it/180x180" alt="" class="round-border"/></div> -->
                                    <div class="col-md-8 col-sm-9 col-xs-7 col-xs-8 menu-text sm-width-80 xs-width-70">
                                        <div class="menu-text-sub">
                                            <span class="text-uppercase brown-text letter-spacing-1 display-block font-weight-600 md-padding-one md-no-padding-lr md-no-padding-top">Red Beans & Rice</span>
                                            <!-- <p class="display-block">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p> -->
                                        </div>
                                    </div>
                                </div>
                                <!-- end menu item -->
                                <!-- menu item -->
                                <div class="menu-item">
                                    <!-- <div class="col-md-3 col-sm-2 col-xs-3 menu-img sm-display-block"><img src="http://placehold.it/180x180" alt="" class="round-border"/></div> -->
                                    <div class="col-md-8 col-sm-9 col-xs-7 col-xs-8 menu-text sm-width-80 xs-width-70">
                                        <div class="menu-text-sub">
                                            <span class="text-uppercase brown-text letter-spacing-1 display-block font-weight-600 md-padding-one md-no-padding-lr md-no-padding-top">Golden Potatoes</span>
                                            <!-- <p class="display-block">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p> -->
                                        </div>
                                    </div>
                                </div>
                                <!-- end menu item -->
                                <!-- menu item -->
                                <div class="menu-item">
                                    <!-- <div class="col-md-3 col-sm-2 col-xs-3 menu-img sm-display-block"><img src="http://placehold.it/180x180" alt="" class="round-border"/></div> -->
                                    <div class="col-md-8 col-sm-9 col-xs-7 col-xs-8 menu-text sm-width-80 xs-width-70">
                                        <div class="menu-text-sub">
                                            <span class="text-uppercase brown-text letter-spacing-1 display-block font-weight-600 md-padding-one md-no-padding-lr md-no-padding-top"> Pilaf Rice</span>
                                            <!-- <p class="display-block">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p> -->
                                        </div>
                                    </div>
                                </div>
                                <!-- menu item -->
                                <div class="menu-item">
                                    <!-- <div class="col-md-3 col-sm-2 col-xs-3 menu-img sm-display-block"><img src="http://placehold.it/180x180" alt="" class="round-border"/></div> -->
                                    <div class="col-md-8 col-sm-9 col-xs-7 col-xs-8 menu-text sm-width-80 xs-width-70">
                                        <div class="menu-text-sub">
                                            <span class="text-uppercase brown-text letter-spacing-1 display-block font-weight-600 md-padding-one md-no-padding-lr md-no-padding-top"> Mixed Vegetables (Regular)</span>
                                            <!-- <p class="display-block">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p> -->
                                        </div>
                                    </div>
                                </div>
                                <!-- menu item -->
                                <div class="menu-item">
                                    <!-- <div class="col-md-3 col-sm-2 col-xs-3 menu-img sm-display-block"><img src="http://placehold.it/180x180" alt="" class="round-border"/></div> -->
                                    <div class="col-md-8 col-sm-9 col-xs-7 col-xs-8 menu-text sm-width-80 xs-width-70">
                                        <div class="menu-text-sub">
                                            <span class="text-uppercase brown-text letter-spacing-1 display-block font-weight-600 md-padding-one md-no-padding-lr md-no-padding-top">Mixed Vegetables (California Style)</span>
                                            <!-- <p class="display-block">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p> -->
                                        </div>
                                    </div>
                                </div>
                                <!-- end menu item -->
                            </div>
                        </div>
                        <!-- end menu hover box -->
                    </div>
                      <div class="col-md-4 col-sm-12 restaurant-menu position-relative overflow-hidden xs-no-padding">
                          <!-- menu image and title -->
                          <div class="restaurant-menu-image cover-background" style="background-image: url('http://i.imgur.com/K48DLk0.png'); ">
                              <div class="restaurant-menu-item z-index-1">
                                  <img src="http://www.evolvingpartners.com.au/wp-content/uploads/2015/06/R2-26-Pork-Spare-Ribs-with-Texas-BBQ-sauce-150x150.jpg" alt=""/>
                                  <span class="title-small font-weight-100 letter-spacing-2 alt-font deep-pink-dark-text text-uppercase display-block margin-four no-margin-lr no-margin-bottom">Main Dishes</span>
                                  <!-- <span class="text-small letter-spacing-1 text-uppercase">Every Day 08:00 - 10:00</span> -->
                                  <div class="margin-four"><img src="images/separator2.png" alt=""/></div>
                              </div>
                              <div class="restaurant-menu-background"><div class="restaurant-menu-border z-index-2"></div></div>
                          </div>
                          <!-- end menu image and title -->
                          <!-- menu hover box -->
                          <div class="restaurant-menu-text">
                              <div class="restaurant-menu-text-inner padding-thirteen sm-padding-nine" style="background-image:url('images/restaurant-img7.jpg');">
                                  <!-- menu item -->
                                  <div class="menu-item">
                                      <!-- <div class="col-md-3 col-sm-2 col-xs-3 menu-img sm-display-block"><img src="http://placehold.it/180x180" alt="" class="round-border"/></div> -->
                                      <div class="col-md-8 col-sm-8 col-xs-7 col-xs-8 menu-text sm-width-80 xs-width-70">
                                          <div class="menu-text-sub">
                                              <span class="text-uppercase brown-text letter-spacing-1 display-block font-weight-600 md-padding-one md-no-padding-lr md-no-padding-top">Pot Roast</span>
                                              <!-- <p class="display-block">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p> -->
                                          </div>
                                      </div>
                                  </div>
                                  <!-- end menu item -->
                                  <!-- menu item -->
                                  <div class="menu-item">
                                      <!-- <div class="col-md-3 col-sm-2 col-xs-3 menu-img sm-display-block"><img src="http://placehold.it/180x180" alt="" class="round-border"/></div> -->
                                      <div class="col-md-8 col-sm-9 col-xs-7 col-xs-8 menu-text sm-width-80 xs-width-70">
                                          <div class="menu-text-sub">
                                              <span class="text-uppercase brown-text letter-spacing-1 display-block font-weight-600 md-padding-one md-no-padding-lr md-no-padding-top">Smoke Pork Chops</span>
                                              <!-- <p class="display-block">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p> -->
                                          </div>
                                      </div>
                                  </div>
                                  <!-- end menu item -->
                                  <!-- menu item -->
                                  <div class="menu-item">
                                      <!-- <div class="col-md-3 col-sm-2 col-xs-3 menu-img sm-display-block"><img src="http://placehold.it/180x180" alt="" class="round-border"/></div> -->
                                      <div class="col-md-8 col-sm-9 col-xs-7 col-xs-8 menu-text sm-width-80 xs-width-70">
                                          <div class="menu-text-sub">
                                              <span class="text-uppercase brown-text letter-spacing-1 display-block font-weight-600 md-padding-one md-no-padding-lr md-no-padding-top">B.B.Q. Spare Ribs</span>
                                              <!-- <p class="display-block">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p> -->
                                          </div>
                                      </div>
                                  </div>
                                  <!-- end menu item -->
                                  <!-- menu item -->
                                  <div class="menu-item">
                                      <!-- <div class="col-md-3 col-sm-2 col-xs-3 menu-img sm-display-block"><img src="http://placehold.it/180x180" alt="" class="round-border"/></div> -->
                                      <div class="col-md-8 col-sm-9 col-xs-7 col-xs-8 menu-text sm-width-80 xs-width-70">
                                          <div class="menu-text-sub">
                                              <span class="text-uppercase brown-text letter-spacing-1 display-block font-weight-600 md-padding-one md-no-padding-lr md-no-padding-top">Pepper Chicken Steak</span>
                                              <!-- <p class="display-block">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p> -->
                                          </div>
                                      </div>
                                  </div>
                                  <!-- end menu item -->
                                  <!-- menu item -->
                                  <div class="menu-item">
                                      <!-- <div class="col-md-3 col-sm-2 col-xs-3 menu-img sm-display-block"><img src="http://placehold.it/180x180" alt="" class="round-border"/></div> -->
                                      <div class="col-md-8 col-sm-9 col-xs-7 col-xs-8 menu-text sm-width-80 xs-width-70">
                                          <div class="menu-text-sub">
                                              <span class="text-uppercase brown-text letter-spacing-1 display-block font-weight-600 md-padding-one md-no-padding-lr md-no-padding-top">Pepper Chicken Steak</span>
                                              <!-- <p class="display-block">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p> -->
                                          </div>
                                      </div>
                                  </div>
                                  <!-- menu item -->
                                  <div class="menu-item">
                                      <!-- <div class="col-md-3 col-sm-2 col-xs-3 menu-img sm-display-block"><img src="http://placehold.it/180x180" alt="" class="round-border"/></div> -->
                                      <div class="col-md-8 col-sm-9 col-xs-7 col-xs-8 menu-text sm-width-80 xs-width-70">
                                          <div class="menu-text-sub">
                                              <span class="text-uppercase brown-text letter-spacing-1 display-block font-weight-600 md-padding-one md-no-padding-lr md-no-padding-top"> Chicken Breast Strips in Garlic Sauce</span>
                                              <!-- <p class="display-block">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p> -->
                                          </div>
                                      </div>
                                  </div>
                                  <!-- menu item -->
                                  <div class="menu-item">
                                      <!-- <div class="col-md-3 col-sm-2 col-xs-3 menu-img sm-display-block"><img src="http://placehold.it/180x180" alt="" class="round-border"/></div> -->
                                      <div class="col-md-8 col-sm-9 col-xs-7 col-xs-8 menu-text sm-width-80 xs-width-70">
                                          <div class="menu-text-sub">
                                              <span class="text-uppercase brown-text letter-spacing-1 display-block font-weight-600 md-padding-one md-no-padding-lr md-no-padding-top"> Palomilla Steak</span>
                                              <!-- <p class="display-block">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p> -->
                                          </div>
                                      </div>
                                  </div>
                                  <!-- end menu item -->
                              </div>
                          </div>
                          <!-- end menu hover box -->
                      </div>
                      <div class="col-md-4 col-sm-12 restaurant-menu position-relative overflow-hidden xs-no-padding">
                          <!-- menu image and title -->
                          <div class="restaurant-menu-image  cover-background" style=" background-image: url('http://media1.sailusfood.com/wp-content/uploads/2009/06/vegetable-fried-rice.jpg');">
                              <div class="restaurant-menu-item z-index-1">
                                  <img src="http://www.bonappetit.com/wp-content/uploads/2007/05/mare_porcini_crusted_filet_mignon_with_fresh_herb_butter_v-150x150.jpg" alt=""/>
                                  <span class="title-small font-weight-100 letter-spacing-2 alt-font deep-pink-dark-text text-uppercase display-block margin-four no-margin-lr no-margin-bottom">Rices & <br>Special Dishes</span>
                                  <!-- <span class="text-small letter-spacing-1 text-uppercase">Every Day 19:00 - 22:00</span> -->
                                  <div class="margin-four"><img src="images/separator2.png" alt=""/></div>
                              </div>
                              <div class="restaurant-menu-background"><div class="restaurant-menu-border z-index-2"></div></div>
                          </div>
                          <!-- end menu image and title -->
                          <!-- menu hover box -->
                          <div class="restaurant-menu-text">
                              <div class="restaurant-menu-text-inner padding-thirteen sm-padding-nine" style="background-image:url('images/restaurant-img7.jpg');">
                                  <!-- menu item -->
                                  <div class="menu-item">
                                      <!-- <div class="col-md-3 col-sm-2 col-xs-3 menu-img sm-display-block"><img src="http://placehold.it/180x180" alt="" class="round-border"/></div> -->
                                      <div class="col-md-8 col-sm-8 col-xs-7 col-xs-8 menu-text sm-width-80 xs-width-70">
                                          <div class="menu-text-sub">
                                              <span class="text-uppercase brown-text letter-spacing-1 display-block font-weight-600 md-padding-one md-no-padding-lr md-no-padding-top">Chicken with Yellow Rice</span>
                                              <!-- <p class="display-block">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p> -->
                                          </div>
                                      </div>
                                  </div>
                                  <!-- end menu item -->
                                  <!-- menu item -->
                                  <div class="menu-item">
                                      <!-- <div class="col-md-3 col-sm-2 col-xs-3 menu-img sm-display-block"><img src="http://placehold.it/180x180" alt="" class="round-border"/></div> -->
                                      <div class="col-md-8 col-sm-9 col-xs-7 col-xs-8 menu-text sm-width-80 xs-width-70">
                                          <div class="menu-text-sub">
                                              <span class="text-uppercase brown-text letter-spacing-1 display-block font-weight-600 md-padding-one md-no-padding-lr md-no-padding-top">Vegetarian Fried Rices</span>
                                              <!-- <p class="display-block">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p> -->
                                          </div>
                                      </div>
                                  </div>
                                  <!-- end menu item -->
                                  <!-- menu item -->
                                  <div class="menu-item">
                                      <!-- <div class="col-md-3 col-sm-2 col-xs-3 menu-img sm-display-block"><img src="http://placehold.it/180x180" alt="" class="round-border"/></div> -->
                                      <div class="col-md-8 col-sm-9 col-xs-7 col-xs-8 menu-text sm-width-80 xs-width-70">
                                          <div class="menu-text-sub">
                                              <span class="text-uppercase brown-text letter-spacing-1 display-block font-weight-600 md-padding-one md-no-padding-lr md-no-padding-top">Chicken with Yellow Rice</span>
                                              <!-- <p class="display-block">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p> -->
                                          </div>
                                      </div>
                                  </div>
                                  <!-- end menu item -->
                                  <!-- menu item -->
                                  <div class="menu-item">
                                      <!-- <div class="col-md-3 col-sm-2 col-xs-3 menu-img sm-display-block"><img src="http://placehold.it/180x180" alt="" class="round-border"/></div> -->
                                      <div class="col-md-8 col-sm-9 col-xs-7 col-xs-8 menu-text sm-width-80 xs-width-70">
                                          <div class="menu-text-sub">
                                              <span class="text-uppercase brown-text letter-spacing-1 display-block font-weight-600 md-padding-one md-no-padding-lr md-no-padding-top">Vegetarian Fried Rice</span>
                                              <!-- <p class="display-block">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p> -->
                                          </div>
                                      </div>
                                  </div>
                                  <!-- end menu item -->
                                  <!-- menu item -->
                                  <div class="menu-item">
                                      <!-- <div class="col-md-3 col-sm-2 col-xs-3 menu-img sm-display-block"><img src="http://placehold.it/180x180" alt="" class="round-border"/></div> -->
                                      <div class="col-md-8 col-sm-9 col-xs-7 col-xs-8 menu-text sm-width-80 xs-width-70">
                                          <div class="menu-text-sub">
                                              <span class="text-uppercase brown-text letter-spacing-1 display-block font-weight-600 md-padding-one md-no-padding-lr md-no-padding-top"> Filete Mignon</span>
                                              <!-- <p class="display-block">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p> -->
                                          </div>
                                      </div>
                                  </div>
                                  <!-- menu item -->
                                  <div class="menu-item">
                                      <!-- <div class="col-md-3 col-sm-2 col-xs-3 menu-img sm-display-block"><img src="http://placehold.it/180x180" alt="" class="round-border"/></div> -->
                                      <div class="col-md-8 col-sm-9 col-xs-7 col-xs-8 menu-text sm-width-80 xs-width-70">
                                          <div class="menu-text-sub">
                                              <span class="text-uppercase brown-text letter-spacing-1 display-block font-weight-600 md-padding-one md-no-padding-lr md-no-padding-top"> Veal</span>
                                              <!-- <p class="display-block">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p> -->
                                          </div>
                                      </div>
                                  </div>
                                  <!-- menu item -->
                                  <div class="menu-item">
                                      <!-- <div class="col-md-3 col-sm-2 col-xs-3 menu-img sm-display-block"><img src="http://placehold.it/180x180" alt="" class="round-border"/></div> -->
                                      <div class="col-md-8 col-sm-9 col-xs-7 col-xs-8 menu-text sm-width-80 xs-width-70">
                                          <div class="menu-text-sub">
                                              <span class="text-uppercase brown-text letter-spacing-1 display-block font-weight-600 md-padding-one md-no-padding-lr md-no-padding-top">Nicaraguan Style Churrasco</span>
                                              <!-- <p class="display-block">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p> -->
                                          </div>
                                      </div>
                                  </div>
                                  <!-- end menu item -->
                              </div>
                          </div>
                          <!-- end menu hover box -->
                      </div>
                  </div>
              </div>
          </section>
          <!-- end menu section -->
        <!-- gallery section -->
        <section id="gallery" class="masonry work-3col gutter-wide wow fadeIn">
            <div class="container">
                <div class="row padding-thirteen no-padding-lr no-padding-top">
                    <div class="col-md-12 col-sm-12 text-center">
                        <span class="text-uppercase title-extra-large alt-font text-decoration-line-through fast-pink-text "><span class="display-block">04</span></span>
                        <span class="text-uppercase title-small alt-font font-weight-600 dark-gray-text letter-spacing-2">Gallery</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 grid-gallery grid-style6 overflow-hidden">
                        <div class="tab-content">
                            <ul class="masonry-items grid lightbox-gallery">
                                <!-- gallery item -->
                                <li>
                                    <figure class="overflow-hidden">
                                        <div class="gallery-img bg-dark-gray"><a href="/images/photos/027.jpg" title="Great for any event"><img src="/images/photos/027.jpg" alt=""></a></div>
                                        <figcaption>
                                            <h3 class="alt-font text-uppercase letter-spacing-2">Great for <br> any event</h3>
                                        </figcaption>
                                    </figure>
                                </li>
                                <!-- end gallery item -->
                                <!-- gallery item -->
                                <li>
                                    <figure class="overflow-hidden">
                                        <div class="gallery-img bg-dark-gray"><a href="/images/photos/DSC_0040.jpg" title="Banquet Hall"><img src="/images/photos/red-hall.jpg" alt=""></a></div>
                                        <figcaption>
                                            <h3 class="alt-font text-uppercase letter-spacing-2">Banquet<br> Hall</h3>
                                        </figcaption>
                                    </figure>
                                </li>
                                <!-- end gallery item -->
                                <!-- gallery item -->
                                <li>
                                    <figure class="overflow-hidden">
                                        <div class="gallery-img bg-dark-gray"><a href="/images/photos/DSC_1024.jpg" title="Great for any event"><img src="/images/photos/gold-hall.jpg" alt=""></a></div>
                                        <figcaption>
                                            <h3 class="alt-font text-uppercase letter-spacing-2">Great for <br> any event</h3>
                                        </figcaption>
                                    </figure>
                                </li>
                                <!-- end gallery item -->
                                <!-- gallery item -->
                                <li>
                                    <figure class="overflow-hidden">
                                        <div class="gallery-img bg-dark-gray"><a href="/images/photos/DSC_1061.jpg" title="Banquet Hall"><img src="/images/photos/golderhall.jpg" alt=""></a></div>
                                        <figcaption>
                                            <h3 class="alt-font text-uppercase letter-spacing-2">Banquet<br> Hall</h3>
                                        </figcaption>
                                    </figure>
                                </li>
                                <!-- end gallery item -->
                                <!-- gallery item -->
                                <li>
                                    <figure class="overflow-hidden">
                                        <div class="gallery-img bg-dark-gray"><a href="images/photos/IMG_1803.jpg" title="Great for any event"><img src="images/photos/purplehall.jpg" alt=""></a></div>
                                        <figcaption>
                                            <h3 class="alt-font text-uppercase letter-spacing-2">Great for <br> any event</h3>
                                        </figcaption>
                                    </figure>
                                </li>
                                <!-- end gallery item -->
                                <!-- gallery item -->
                                <li>
                                    <figure class="overflow-hidden">
                                        <div class="gallery-img bg-dark-gray"><a href="images/photos/PictureTest118.jpg" title="Banquet Hall"><img src="images/photos/PictureTest118.jpg" alt=""></a></div>
                                        <figcaption>
                                            <h3 class="alt-font text-uppercase letter-spacing-2">Banquet<br> Hall</h3>
                                        </figcaption>
                                    </figure>
                                </li>
                                <!-- end gallery item -->
                                <!-- gallery item -->
                                <li>
                                    <figure class="overflow-hidden">
                                        <div class="gallery-img bg-dark-gray"><a href="images/egypt.png" title="Great for any event"><img src="images/egypt.png" alt=""></a></div>
                                        <figcaption>
                                            <h3 class="alt-font text-uppercase letter-spacing-2">Great for <br> any event</h3>
                                        </figcaption>
                                    </figure>
                                </li>
                                <!-- end gallery item -->
                                <!-- gallery item -->
                                <li>
                                    <figure class="overflow-hidden">
                                        <div class="gallery-img bg-dark-gray"><a href="images/flowers2.png" title="Flowers"><img src="images/flowers2.png" alt=""></a></div>
                                        <figcaption>
                                            <h3 class="alt-font text-uppercase letter-spacing-2">Flowers</h3>
                                        </figcaption>
                                    </figure>
                                </li>
                                <!-- end gallery item -->
                                <!-- gallery item -->
                                <li>
                                    <figure class="overflow-hidden">
                                        <div class="gallery-img bg-dark-gray"><a href="images/cake.png" title="Cake"><img src="images/cake.png" alt=""></a></div>
                                        <figcaption>
                                            <h3 class="alt-font text-uppercase letter-spacing-2">Cake</h3>
                                        </figcaption>
                                    </figure>
                                </li>
                                <!-- end gallery item -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end gallery section -->
        <!-- location section -->
            <section id="location" class="border-top no-padding-bottom wow fadeIn">
                <div class="container">
                    <div class="row">
                        <!-- section title -->
                        <div class="col-md-12 col-sm-12 text-center">
                            <span class="title-medium deep-pink-dark-text text-uppercase alt-font title-dividers font-weight-600 position-relative">Location</span>
                        </div>
                        <!-- end section title -->
                    </div>
                    <div class="row">
                        <div class="margin-ten no-margin-lr xs-text-center clearfix">
                            <div class="col-md-12 col-sm-12 text-center">
                                <p class="width-40 center-col sm-width-70 xs-width-90 alt-font big-label">We are strategically in the center of Miami Dade County. You can arrive fast and easy to our banquet hall from any place at South Florida.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <!-- google map -->
                        <div class="col-md-12 col-sm-12 text-center location-map no-padding maps">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3422.861267539095!2d-80.33194621201999!3d25.769426890293687!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d9b903037b0d5b%3A0x8e8d6cdc5c0544f5!2sVenetian+Banquet+Hall!5e0!3m2!1sen!2sus!4v1448294202365" width="600" height="450" style="border:0" allowfullscreen></iframe>
                        </div>
                        <!-- end google map -->
                    </div>
                </div>
            </section>
            <!-- end location section -->
        <!-- contact section -->
        <section id="contact" class="cover-background" style="background-image:url('images/spa-section-bg.jpg');">
            <div class="container">
                <!-- section title -->
                <div class="row margin-six no-margin-top no-margin-lr">
                    <div class="col-md-12 col-sm-12 text-center">
                        <span class="text-uppercase title-extra-large alt-font text-decoration-line-through fast-pink-text "><span class="display-block">07</span></span>
                        <span class="text-uppercase title-small alt-font font-weight-600 dark-gray-text letter-spacing-2">contact</span>
                    </div>
                </div>
                <!-- end section title -->
                <div class="row">
                    <!-- text -->
                    <div class="col-md-5 col-sm-12 margin-nine no-margin-bottom no-margin-lr xs-text-center xs-no-margin">
                        <div class="col-md-1 col-sm-1">
                            <i class="icon-map-pin icon-small margin-one-half no-margin-lr"></i>
                        </div>
                        <div class="col-md-11 col-sm-3 xs-margin-nine xs-no-margin-lr xs-no-margin-top sm-no-padding-left">
                            <span class="text-uppercase alt-font black-text">Location</span>
                            <p class="text-medium">Venetian Banquet Hall <br>8300 West Flagler St <br>Miami, Florida 33144 in la Roma Plaza <br>Office Suite 118</p>
                        </div>
                        <div class="col-md-1 col-sm-1 margin-twelve no-margin-lr sm-no-margin">
                            <i class="icon-clipboard icon-small margin-one-half no-margin-lr"></i>
                        </div>
                        <div class="col-md-11 col-sm-3 margin-twelve no-margin-lr sm-no-margin xs-margin-nine xs-no-margin-lr xs-no-margin-top sm-no-padding-left">
                            <span class="text-uppercase alt-font black-text">General Enquiries and Appointments</span>
                            <p class="text-medium">Office: 305-554-5454 <br>Cell: 786-217-7943 <br>Fax: 305-554-5499</p>
                            <p class="text-medium"><a class="gray-text" href="mailto:events@venetianbanquethall.com">events@venetianbanquethall.com</a></p>
                        </div>
                        <div class="col-md-1 col-sm-1">
                            <i class="icon-phone  icon-small margin-one-half no-margin-lr"></i>
                        </div>
                        <div class="col-md-11 col-sm-3 sm-no-padding-left">
                            <span class="text-uppercase alt-font black-text">Schedule</span>
                            <p class="text-medium">Tuesday to Friday from 2 PM to 7 PM <br>Saturdays  from 10 AM to 6 PM <br>Sundays and Mondays we are closed</p>
                        </div>
                    </div>
                    <!-- end text -->
                    <div class="col-md-7 col-sm-12 margin-nine no-margin-bottom no-margin-lr position-relative ajax">
                        <%= render 'pages/form' %>
                        <!-- <form id="spacontactform" action="javascript:void(0)" method="post">
                            <div id="success" class="no-margin-lr"></div> -->
                            <!-- input -->
                            <!-- <input type="text" class="big-input alt-font" placeholder="* YOUR NAME" name="name" id="name"> -->
                            <!-- end input -->
                            <!-- input  -->
                            <!-- <input type="text" class="big-input alt-font" placeholder="* YOUR EMAIL" name="email" id="email"> -->
                            <!-- end input -->
                            <!-- dropdown  -->
                            <!-- <div class="select-style big-select alt-font">
                                <select id="interestedin" name="interestedin">
                                    <option selected="">WHAT ARE YOU INTERESTED IN?</option>
                                    <option value="Fairness Treatment">Fairness Treatment</option>
                                    <option value="Spa Beauty Treatment">Spa Beauty Treatment</option>
                                    <option value="Oil Massage Therapy">Oil Massage Therapy</option>
                                    <option value="Aromatherapy Treatment">Aromatherapy Treatment</option>
                                    <option value="Other">Other</option>
                                </select>
                            </div> -->
                            <!-- end dropdown  -->
                            <!-- textarea  -->
                            <!-- <textarea class="big-input alt-font" placeholder="YOUR MESSAGE" name="comment" id="comment"></textarea> -->
                            <!-- end textarea  -->
                            <!-- button  -->
                            <!-- <button id="spa-contact-button" class="highlight-button-dark btn btn-medium" type="submit">Submit</button> -->
                            <!-- end button  -->
                        <!-- </form> -->
                    </div>
                </div>
            </div>
        </section>
        <!-- end contact section -->
        <!-- footer -->
        <footer class="wow fadeIn">
            <div class="container">
                <div class="row border-bottom padding-eight no-padding-lr">
                    <div class="col-md-8 col-sm-9 col-xs-12 text-left xs-text-center">
                        <!-- <div class="footer-social position-relative top4"> -->
                            <!-- social media link -->
                            <!-- <a target="_blank" href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
                            <a target="_blank" href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
                            <a target="_blank" href="https://plus.google.com"><i class="fa fa-google-plus"></i></a>
                            <a target="_blank" href="https://dribbble.com/"><i class="fa fa-dribbble"></i></a>
                            <a target="_blank" href="https://www.youtube.com/"><i class="fa fa-youtube"></i></a>
                            <a target="_blank" href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a> -->
                            <!-- end social media link -->
                        <!-- </div> -->
                    </div>
                    <div class="col-md-4 col-sm-3 col-xs-12 text-right xs-text-center xs-margin-nineteen xs-no-margin-lr xs-no-margin-bottom">
                        <a href="#home" class="inner-link"><img alt="" src="http://i.imgur.com/FOMg9Gh.png"></a>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 text-center">
                            <!-- <span class="text-small text-uppercase letter-spacing-1 alt-font">&copy; 2015 Brando is proudly powered by <a href="http://www.themezaa.com/" target="_blank">ThemeZaa.</a></span> -->
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end footer -->
        <!-- scroll to top -->
        <a href="javascript:;" class="scrollToTop"><i class="fa fa-angle-up"></i></a>
        <!-- end scroll to top -->
        <!-- javascript libraries -->
        <script type="text/javascript" src="js/jquery.min.js"></script>
        <script type="text/javascript" src="js/modernizr.js"></script>
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
        <script type="text/javascript" src="js/skrollr.min.js"></script>
        <script type="text/javascript" src="js/smooth-scroll.js"></script>
        <script type="text/javascript" src="js/jquery.appear.js"></script>
        <!-- menu navigation -->
        <script type="text/javascript" src="js/jquery.nav.js"></script>
        <!-- animation -->
        <script type="text/javascript" src="js/wow.min.js"></script>
        <!-- page scroll -->
        <script type="text/javascript" src="js/page-scroll.js"></script>
        <!-- owl carousel -->
        <script type="text/javascript" src="js/owl.carousel.min.js"></script>
        <!-- counter -->
        <script type="text/javascript" src="js/jquery.countTo.js"></script>
        <!-- parallax -->
        <script type="text/javascript" src="js/jquery.parallax-1.1.3.js"></script>
        <!-- magnific popup -->
        <script type="text/javascript" src="js/jquery.magnific-popup.min.js"></script>
        <!-- portfolio with shorting tab -->
        <script type="text/javascript" src="js/isotope.pkgd.min.js"></script>
        <!-- images loaded -->
        <script type="text/javascript" src="js/imagesloaded.pkgd.min.js"></script>
        <!-- pull menu -->
        <script type="text/javascript" src="js/classie.js"></script>
        <!-- counter  -->
        <script type="text/javascript" src="js/counter.js"></script>
        <!-- fit video  -->
        <script type="text/javascript" src="js/jquery.fitvids.js"></script>
        <!-- setting -->
        <script type="text/javascript" src="js/main.js"></script>
    </body>
</html>
