/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
  background: url('https://i.imgur.com/fFftoEe.jpg') #000 no-repeat center center fixed;
}

#alert-override {
  margin-bottom: 0px;
  z-index: 1000;
}

/*.field_with_errors {
  border: 2px solid #a94442;
  color: black;
}*/
.crema {
  color: rgb(215, 181, 137);
}

.bg-crema {
  background-color: #EBD1B1;
}

#menu-venetian, #menu-venetian:active {
  color: #5EB5FF;
}

#menu-venetian:hover {
  color: #0272D2;
}

#service-link {
  border: 4px solid #e15276;
}

#hall_video {
  padding-left: 0px;
}

video#vhall {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url('https://i.imgur.com/fFftoEe.jpg') no-repeat;
  background-size: contain;
}

@media (min-width: 600px) {
  video#vhall {
    display: table-cell;
  }
}
